<section class="container my-4 ">

    <h4 class="mb-3 text-center">Forfait & Tarification Mensuel</h4>
    <div class="d-flex justify-content-center  gap-2 text-white">
        <div class="rounded-3 w-auto p-2" style="background-color: var(--page-primary-color);">Mensuel</div>
        <div class="rounded-3 w-auto p-2" style="background-color: var(--dark-gray);">Annuel</div>
    </div>
    <div class="row gap-2 my-3">
        <div class="col-md rounded-2 border p-4 d-flex flex-column gap-2" style="border-color: var(--dark-gray);">

            <app-pricing-card title="Basic" price="Gratuit/mois" description="Toutes les modules pour débuter
        nouvelle cabinet."
                [features]="['Gestion des dossiers médicaux électroniques', 'Planification des rendez-vous et gestion de l agenda.', 'Facturation et gestion des paiements']"
                buttonColor="var(--page-primary-color)" iconColor="#C7EAFB"></app-pricing-card>
        </div>
        <div class="col-md rounded-2 border p-4 d-flex flex-column gap-2"
            style="border-color: var(--dark-gray); background-color: #C7EAFB;">

            <app-pricing-card title="Professionnel" price="600 DH/mois"
                description="Toutes les modules pour débuter nouvelle cabinet."
                [features]="['Gestion des dossiers médicaux électroniques', 'Planification des rendez-vous et gestion de l agenda.', 'Facturation et gestion des paiements']"
                buttonColor="var(--page-secondary-color)" iconColor="#DFF3FD" [showBadge]="true"></app-pricing-card>
        </div>
        <div class="col-md rounded-2 border p-4 d-flex flex-column gap-2" style="border-color: var(--dark-gray);">
            <app-pricing-card title="Premium" price="900 DH/mois" description="Toutes les modules pour débuter
        nouvelle cabinet."
                [features]="['Gestion des dossiers médicaux électroniques', 'Planification des rendez-vous et gestion de l agenda.', 'Facturation et gestion des paiements']"
                buttonColor="var(--page-primary-color)" iconColor="#C7EAFB"></app-pricing-card>
        </div>
    </div>

</section>