<section class="container my-5">
    <div class=" p-2 row">
        <div class="col-lg d-flex flex-column gap-4 p-4" style="background-color: var(--background-color);">
            <div class="bg-white d-flex flex-row justify-content-center align-items-center gap-2 p-3 rounded-4 ">
                <div class="rounded-circle col-2 text-center d-flex justify-content-center align-items-center"
                    style="background-color: #C7EAFB; border-color: #DFF3FD; height: 70px; width: 70px; margin: auto;">
                    <i class="bi bi-calendar2-check text-blue" style="font-size: xx-large;"></i>
                </div>
                <div class="col">
                    <h3 class="fw-semibold mb-0 " style="font-size: 16px;">Gestion des Rendez-vous</h3>
                    <p class="fw-semibold mb-0" style="color: var(--dark-gray); font-size: 14px;">Simplifiez la
                        planification et la gestion de vos rendez-vous grâce à notre outil convivial.</p>
                </div>
            </div>
            <div class="bg-white d-flex flex-row justify-content-center align-items-center gap-2 p-3 rounded-4 ">
                <div class="rounded-circle col-2 text-center d-flex justify-content-center align-items-center"
                    style="background-color: #C7EAFB; border-color: #DFF3FD; height: 70px; width: 70px; margin: auto;">
                    <i class="bi bi-check2-circle text-blue" style="font-size: xx-large;"></i>
                </div>
                <div class="col">
                    <h3 class="fw-semibold mb-0 " style="font-size: 16px;">Gestion des Rendez-vous</h3>
                    <p class="fw-semibold mb-0" style="color: var(--dark-gray); font-size: 14px;">Simplifiez la
                        planification et la gestion de vos rendez-vous grâce à notre outil convivial.</p>
                </div>
            </div>
            <div class="bg-white d-flex flex-row justify-content-center align-items-center gap-2 p-3 rounded-4 ">
                <div class="rounded-circle col-2 text-center d-flex justify-content-center align-items-center"
                    style="background-color: #C7EAFB; border-color: #DFF3FD; height: 70px; width: 70px; margin: auto;">
                    <i class="bi bi-file-earmark-text text-blue" style="font-size: xx-large;"></i>
                </div>
                <div class="col">
                    <h3 class="fw-semibold mb-0 " style="font-size: 16px;">Gestion des Rendez-vous</h3>
                    <p class="fw-semibold mb-0" style="color: var(--dark-gray); font-size: 14px;">Simplifiez la
                        planification et la gestion de vos rendez-vous grâce à notre outil convivial.</p>
                </div>
            </div>
        </div>
        <div class="col-lg p-4">
            <app-text-box title="Gardez un œil sur les performances de votre Cabinet" description="Explorez ces fonctionnalités avancées et
            faites évoluer la gestion de votre cabinet médical avec notre produit. Profitez de ces outils
            puissants pour optimiser votre pratique et offrir des soins de qualité à vos patients.">
            </app-text-box>
        </div>

    </div>

</section>