<section class="container my-4">
    <div>
        <h1>Nos clients heureux disent de nous</h1>
        <p>Voici ce que nos clients ont à dire sur notre produit et nos services.</p>
    </div>
    <div class="row gap-4">
        <div class="col-sm-auto d-none d-md-block "><img src="../../assets/public/testimonial.png" alt="testimonial"></div>
        <div class="col">
            <p style="color: var(--text-light-gray-color); font-size: 20px; text-wrap: wrap;">Winmed m'a permis de
                simplifier mes tâches quotidiennes, de planifier efficacement les rendez-vous et de suivre mes
                patients de manière précise.</p>
            <div class="d-flex gap-2  align-items-center ">
                <div style="background-color: var(--page-primary-color); width: 48px; height: 9px;"></div>
                <p class="mb-0" style="font-size: 18px;">Dr. Karim Zarouali</p>
            </div>
            <p style="color: var(--text-light-gray-color); font-size: 20px;">Doctor</p>
            <div>
                <img src="../../assets/public/Frame.png" alt="Frame">
            </div>
        </div>

    </div>
</section>