<section class="container py-5 text-center">
    <div class="d-flex flex-column justify-content-center align-items-center  gap-3">
        <h1 class="fw-semibold" style="font-size: 31px;">SIMPLIFIEZ LA GESTION DE VOTRE <span
                style="color: var(--page-primary-color);">CABINET MÉDICAL</span></h1>
        <p style="color: var(--text-light-gray-color); font-size: 12px;">Gérez votre cabinet médical avec
            facilité grâce à Winmed. Planifiez les rendez-vous, suivez les patients et
            obtenez des statistiques détaillées. Améliorez votre productivité et offrez des soins personnalisés.</p>
        <div>
            <button class="btn rounded-4 text-white fw-medium  w-auto  "
                style="background-color: var(--page-secondary-color); font-size: 12px;">ESSAYEZ
                GRATUITEMENT</button>
        </div>

        <div>
            <img src="../../assets/public/heroSection.png" alt="Admin-Dashboard" class="d-none d-sm-block ">
        </div>
    </div>

</section>