<section class=" container my-5">
    <div class="row d-flex flex-row justify-content-between  gap-3">
        <div class="col  ">
            <p class="fw-medium ">Vous êtes médecin et vous avez besoin d’un logiciel de gestion pour votre cabinet
                médical ?</p>
        </div>
        <div class="col d-flex flex-column  align-items-end  ">
            <div style="width: 100%; max-width: fit-content;">
                <button class="fw-medium btn rounded-3 p-3"
                    style="background-color: var(--page-secondary-color); font-size: 18px;">une démonstration
                    gratuitement !</button>
                <p style="color: var(--text-light-gray-color); font-size: 13px;">Notre équipe prendra contact avec
                    vous
                    pour répondre à toutes vos questions.</p>
            </div>
        </div>

    </div>
</section>