/* You can add global styles to this file, and also import other style files */
:root {
  --page-primary-color: #37aeeb;
  --page-secondary-color: #eeb84a;
  --page-tertiary-color: #3cd78c;
  --dark-gray: #767676;
  --text-gray-color: #797979;
  --text-light-gray-color: #726868;
  --background-color: rgba(126, 222, 236, 1);
}

.alert-container {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1500; 
  width: auto;
}
