<nav class="navbar navbar-expand-lg navbar-light bg-light border border-top-0 shadow-sm bg-white">
    <div class="container-fluid">
        <!-- Brand/logo -->
        <a class="navbar-brand" href="#">
            <img src="../../assets/public/logoWinmed.png" alt="logo" /> </a>
        <!-- Toggler button for mobile nav -->
        <button class="navbar-toggler" type="button" (click)="collapse.toggle()" [attr.aria-expanded]="!isCollapsed">
            <span class="navbar-toggler-icon"></span>
        </button>
        <!-- Navbar content -->
        <div #collapse="ngbCollapse" [(ngbCollapse)]="isCollapsed"
            class="collapse navbar-collapse justify-content-center">
            <ul class="navbar-nav mb-2 mb-lg-0 text-uppercase justify-content-center">
                <li class="nav-item">
                    <a class="nav-link" routerLink="/accueil" routerLinkActive="Active">Accueil</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/messages" routerLinkActive="Active">Messages</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/tarifs" routerLinkActive="Active">Tarifs</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" style="cursor: pointer;" (click)="open(content)">Contactez-nous</a>
                </li>
            </ul>
        </div>
        <!-- Contact button -->
        <div class="ms-auto ">
            <ng-template #content let-c="close" let-d="dismiss">
                <div class="modal-header d-flex justify-content-between ">
                    <h4 class="modal-title" id="modal-basic-title">Contact us</h4>
                    <button type="button" class=" btn btn-danger close" aria-label="Close" (click)="d('Cross click')">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body d-flex justify-content-center align-items-center  ">
                    <div class="container">
                        <app-contact-us-form
                            (formSubmitted)="handleFormSubmissionEvent($event, c)"></app-contact-us-form>
                    </div>

                </div>


            </ng-template>

        </div>
        <button class="btn  rounded-4 px-lg-5 text-white fw-medium my-3"
            style="background-color: var(--page-primary-color);" (click)="hadleLogout()"
            *ngIf="authService.isAuthenticated()">
            Logout
        </button>
        <button class="btn  rounded-4 px-lg-5 text-white fw-medium my-3"
        routerLink="/login" routerLinkActive="Active"
            style="background-color: var(--page-primary-color);" 
            *ngIf="!authService.isAuthenticated()">
            Login
        </button>
    </div>
</nav>

<div class="alert-container">
    <div *ngIf="alertMessage" class="mt-2 z-3 ">
        <ngb-alert [type]="alertType" (closed)="alertMessage=''">{{ alertMessage }}</ngb-alert>
    </div>

</div>

<router-outlet></router-outlet>