<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Winmed</title>
</head>
<body class="container-fluid ">
    <app-navbar></app-navbar>
    <app-hero-section></app-hero-section>
    <app-functionalities-section></app-functionalities-section>
    <app-performance-section></app-performance-section>
    <app-pricing-section></app-pricing-section>
    <app-testimonial-section></app-testimonial-section>
    <app-call-to-action-section></app-call-to-action-section>
    <app-footer></app-footer>
</body>
</html>