<footer class="container-fluid border border-bottom-0 ">
    <div class="row p-3  d-flex flex-column flex-sm-row  justify-content-between  align-items-center">
        <div class="col d-flex flex-column flex-lg-row  gap-3">
            <!-- Brand/logo -->
            <a class="" href="#">
                <img src="../../assets/public/logoWinmed.png" alt="logo" />
            </a>
            <!--  content -->
            <div class="d-flex align-items-center fw-light   text-decoration-underline    gap-2  "
                style="font-size: 12px;">
                <p class="m-0 text-nowrap  ">Termes et Conditions </p>
                <p class="m-0 text-nowrap"> Politique de Confidentialité </p>
                <p class="m-0 text-nowrap">Contactez-Nous</p>
            </div>
        </div>

        <div class="col d-flex align-items-center justify-content-lg-end   gap-2">
            <small class="mb-0 ">Copyright © 2024 - Tous droits réservés</small>
            <a class="" href="#">
                <img src="../../assets/public/sophatel.png" alt="logo" />
            </a>
        </div>

    </div>

</footer>